<!DOCTYPE html>
<html>
    <head>
        <title>DD-Automation</title>
        <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> &lt;!&ndash; static/style.cssを読み込む &ndash;&gt;-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    </head>

    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}    <!-- このブロックが参照時に置き換えられる -->
</html>